.header-section {
    background-color: #000040;
}
.header-bottom {
    background-color: transparent;
}
.cus-nav {
    align-items: flex-start;
}
.site-logo, .site-title {
    display: block;
    font-size: 36px;
    line-height: 1;
}
.cmn-form {
    margin-bottom: -30px;
    margin-left: 200px;
}
.cmn-form.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 15px;
    
}
.menu-toggle {
    position: relative;
    display: block;
    width: 35px;
    height: 20px;
    background: transparent;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    color: var(--primary-color);
    font-size: 0;
    transition: all 0.25s ease-in-out;
}
.navbar {
    padding: 0;
}

.navbar-nav {    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --main-color: #000040;
    --second-color: #00a2ef;
    --heading-font: 'Nunito', sans-serif;
    --heading-color: #0a141d;
    --para-font: 'Lato', sans-serif;
    --para-color: #434b52;
    --hover-color: #ee005f;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-size: 16px;
    font-family: var(--para-font);
    font-weight: 400;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    padding-left: 0;
    list-style: none;
    margin: auto!important;
    flex-direction: row;
}
.main-menu li {
    position: relative;
}
.main-menu li a {
    text-transform: capitalize;
    font-weight: 600;
    padding: 29px 18px;
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

li.menu_has_children:after {
    position: absolute;
    content: "\f107";
    top: 30px;
    right: 2px;
    color: #ffffff;
    font-family: 'FontAwesome';
    z-index: -10;
    transition: all 0.3s;
    z-index: 2;
    
}
.sub-menu {
    position: absolute;
    display: none;
    background-color: #ffffff;
    box-shadow: 0px 18px 54px -8px rgb(0 0 0 / 15%);
    width: 100%;
    z-index: 999;
    padding: 15px 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    border-top: 2px solid #000040;;
    cursor: pointer;
}
.sub-menu li a {
    padding: 10px 10px;
    display: block;
    color: #333333;
}
 
li.menu_has_children:hover>.sub-menu {
    display: block;
}

.landing-wrapper {
    background-color: #12144C;
    padding: 5% 0 12%;
    overflow: hidden;
}
.landing-wrapper p {
    color: #fff;
    margin-bottom: 5%;
    font-size: 20px;
}
.landing-content-wrapper {
    position: relative;
}
.ball-wrapper {
    position: absolute;
    top: 0;
    right: -112px;
}
.take-chance {
    color: #fff;
    font-size: 64px;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 5%;
}
.cmn-btn {
    background-color: rgb(1,141,239);
    color: white;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
}

/* //Inner page */
.inner-page-banner {
    
    background-color: #2B2D5C;
    position: relative;
    overflow: hidden;
    background-size: 100%;
    background-repeat: no-repeat;
}
.inner-page-wrapper {
    padding-top: 13%;
    padding-bottom: 12%;
}

.next-draw-wrapper {
    background-color: #000040;
    box-shadow: 0px 5px 100px 0px rgb(0 0 0 / 30%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 40px 40px;
}
.align-items-center {
    align-items: center!important;
}

.next-draw-area {
    margin-top: -90px;
    position: relative;
    z-index: 9;
}
.next-draw-content {
    flex: 0 0 40%;
    max-width: 40%;
}
.next-draw-content .title {
    color: #ffffff;
    text-transform: capitalize;
}
.next-draw-content p {
    color: #ffffff;
}
.next-draw-countdown {
    flex: 0 0 35%;
    max-width: 35%;
}
#clock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
#clock div {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    flex: 0 0 10%;
    max-width: 25%;
    text-align: center;
}
#clock div span {
    font-size: 30px;
    color: #ffffff;
    font-family: #434b52;
    font-weight: 700;
    padding: 5px 15px;
    display: inline-block;
    background-color: #ee005f;
    display: block;
    margin: 0 5px;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#clock div p {
    font-size: 14px;
    color: #fbfbfb;
    margin-top: 8px;
}
.next-draw-btn {
    flex: 0 0 25%;
    max-width: 25%;
}
.step-section {
    padding-top: 120px;
    padding-bottom: 50px;
}
.step-item {
    padding: 30px 20px 30px 90px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 0 15px -1px rgb(0 0 0 / 15%);
    position: relative;
    z-index: 9;
    min-height: 220px;
}
.step-section .row div[class*="col"]:nth-child(2) .step-item .item-number {
    background-image: linear-gradient( 
90deg
, rgb(0,184,234) 0%, rgb(255,44,156) 0%, rgb(255,94,167) 100%);
}

.step-section .row div[class*="col"]:nth-child(3) .step-item .item-number::before {
    border-top-color: #855d00;
}
.step-section .row div[class*="col"]:nth-child(4) .step-item .item-number::before {
    border-top-color: green;
}
.item-number {
    position: absolute;
    top: 50%;
    left: -15px;
    width: 95px;
    height: 110px;
    margin-top: -55px;
    z-index: 99;
    background-image: linear-gradient( 
90deg
, rgb(1,141,239) 0%, rgb(0,184,234) 100%, rgb(255,237,0) 100%);
    text-align: center;
    line-height: 110px;
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
    box-shadow: 0 0 15px -2px rgb(0 0 0 / 15%);
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.item-number::before {
    position: absolute;
    content: '';
    top: -15px;
    left: 0px;
    width: 0;
    height: 0;
    border-top: 15px solid #0652dd;
    border-left: 15px solid transparent;
    border-bottom: 0px solid transparent;
    transform: rotate(
90deg
);
    -webkit-transform: rotate(
90deg
);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
.item-number::after {
    position: absolute;
    content: '';
    bottom: -15px;
    left: 0px;
    width: 0;
    height: 0;
    border-top: 15px solid #0652dd;
    border-left: 15px solid transparent;
    border-bottom: 0px solid transparent;
    transform: rotate(
0deg
);
    -webkit-transform: rotate(
0deg
);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
.step-item .icon {
    height: 65px;
}
.icon {
    color: #007bff;
}
.step-item .icon img {
    height: 80%;
}
.step-item .content .title {
    text-transform: capitalize;
}
.step-item p {
    font-size: 13px;
}

.stack-lotto-section .card {
    box-shadow: 0px 4px 7px 0px rgb(0 0 0 / 15%), 0px 4px 7px 0px rgb(0 0 0 / 15%);
    padding-left: 9%;
    padding-right: 9%;
}
.card {
    border: 1px solid #dedede !important;
    background-color: #ffffff;
}
.stack-lotto-section .card img {
    height: 60px;
}
.stack-lotto-section .card .card-text {
    font-weight: bold;
    margin-top: 7%;
}
.stack-lotto-section .card .start-time {
    margin-top: 7%;
}
.stack-lotto-section .card .start-time .col-3 {
    padding-left: 6px;
    padding-right: 6px;
}
.stack-lotto-section .card .time-col {
    background-color: #ee005f;
    border-radius: 5px;
    padding: 4px 6px;
    color: #fff;
    font-size: 24px;
}
.stack-lotto-section .card .card-text {
    font-weight: bold;
    margin-top: 7%;
}
.stack-lotto-section .card-play-btn {
    background-color: #000040;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 22%);
    font-size: 18px;
    text-align: center;
    padding: 10px;
    width: 100% !important;
    text-transform: capitalize;
    color: #ffffff;
}
.choose-single-item {
    background-color: #ffffff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    padding: 30px 30px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    overflow: hidden;
    margin: 15px 0;
}
.choose-single-item i {
    font-size: 62px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.choose-single-item .title {
    text-transform: capitalize;
    margin-top: 5px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.section-bg {
    background-color: #f7f7f7;
}
.section-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* //table lottery */

.lottery-result-table-area {
    border: 1px solid #ececec;
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.latest-lottery-result table thead th {
    text-transform: capitalize;
    padding: 10px 15px;
    text-align: center;
    background-color: #000040;
    color: #ffffff;
}
.latest-lottery-result table thead th+th {
    border-left: 1px solid rgba(236, 236, 236, 0.2);
}
table {
    width: 100%;
}
.latest-lottery-result table thead th {
    text-transform: capitalize;
    padding: 10px 15px;
    text-align: center;
    background-color: #000040;
    color: #ffffff;
}
.latest-lottery-result table tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
}
.latest-lottery-result table tbody td {
    padding: 10px 8px;
    text-align: center;
    color: #434b52;
    border-bottom: 1px solid #ececec;
}
.number-result-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 12px;
}
.number-result-list li {
    width: 36px;
    height: 36px;
    margin: 3px 3px;
    background-color: #000040;
    color: #ffffff;
    text-align: center;
    line-height: 36px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.number-result-list li.active {
    background-color: #ff369e;
}
.lottery-result-table-area ~ .btn-area {
    margin-top: 30px;
    margin-left: auto;
}
.cmn-btn {
    border-radius: 30px;
    background-color: rgb(1,141,239);
    color: #fff;
    font-size: 14px;
    padding: 15px 30px;
    margin-top: 24px;
    font-size: large;
}
.check-lottery-section-bg {
    background-image: url("../assets/images/gmailPicture.png");
}
.check-lottery-section {
    position: relative;
}
.has_bg_image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.padding-bottom-130 {
    padding-bottom: 130px;
}
.padding-top-130 {
    padding-top: 130px;
}
.check-lottery-section::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.75;
}
.lottery-search-area {
    padding: 30px 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 7px 0px rgb(0 0 0 / 15%), 0px 4px 7px 0px rgb(0 0 0 / 15%);
}
.radios {
    width: 70%;
    margin: auto;
}
.radio-item {
    display: inline-block;
    position: relative;
    margin: 10px 0 0;
}
.radio-item input[type='radio'] {
    display: none;
}
.radio-item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 4px;
    margin: 0 5px 0 0;
    width: 16px;
    height: 16px;
    border-radius: 11px;
    border: 1px solid #000;
    background-color: transparent;
}
.frm-group {
    margin-bottom: 30px;
}
.cmn-btn {
    border-radius: 30px;
    background-color: rgb(1,141,239);
    color: #fff;
    font-size: 14px;
    padding: 15px 30px;
    margin-top: 24px;
    font-size: large;
}

/* //work */
.work-with-app-section {
    position: relative;
}
.work-with-app-section {
    position: relative;
}
.work-with-app-item {
    padding: 30px 30px;
    margin-top: 30px;
    
    align-items: center;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.work-with-app-item .icon {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 36px;
    background-color: #ffffff;
    color: var(--second-color);
    box-shadow: 0px 0px 15px 0px rgb(0 156 239 / 20%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.work-with-app-item .content {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% - 60px);
    max-width: calc(100% - 60px);
    padding-left: 20px;
}
.work-with-app-section .element-shape {
    position: absolute;
    top: -15px;
    right: 0;
}
img {
    max-width: 100%;
    height: auto;
}
.work-with-app-section .element-shape .img{
    max-width: 100%;
    height: auto;
}
.affiliate-section {
    background-color: #2b2d5c;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.affiliate-section .section-title {
    color: #fff;
}
.section-header {
    margin-bottom: 60px;
    margin-top: -10px;
}
.affiliate-item {
    padding: 50px 20px 20px 20px;
    background-color: #2b2d5c;
    box-shadow: 0 0 15px 2px rgb(0 0 0 / 50%);
    box-shadow: 0 0 15px 2px rgb(0 0 0 / 45%);
    border-radius: 10px;
    margin-bottom: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.affiliate-item .icon, .affiliate-content .icon {
    position: relative;
    z-index: 999;
    display: inline-block;
}
.icon {
    color: #007bff;
}
.affiliate-item .icon::before, .affiliate-content .icon::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 90px;
    height: 90px;
    background-color: rgba(51, 181, 247, 0.15);
    border: 1px solid #33b5f7;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    z-index: 9;
}
.affiliate-item .icon .icon-inner, .affiliate-content .icon .icon-inner {
    width: 68px;
    height: 68px;
    position: relative;
    z-index: 99;
    display: inline-block;
    text-align: center;
    line-height: 68px;
    background-color: #303265;
    box-shadow: 0 0 10px -2px rgb(51 181 247 / 50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.affiliate-item .icon::after, .affiliate-content .icon::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 108px;
    height: 108px;
    border: 1px solid rgba(51, 181, 247, 0.2);
    background-color: rgba(255, 255, 255, 0.302);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    z-index: -10;
}
.affiliate-item .content {
    margin-top: 53px;
}
.affiliate-item .content .title {
    color: #ffffff;
}
.affiliate-item .content p {
    margin-top: 22px;
    color: #ffffff;
}
.cance-btn {
    border-radius: 30px;
    background-color: rgb(1,141,239);
    color: #fff;
    font-size: 14px;
    padding: 15px 30px;
    margin-top: 24px;
    font-size: large;
}
.footer-top {
    background-color: #020040;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 70px;
    padding-bottom: 90px;
}
.search-wrapper {
    border-bottom: #373750;
    border-bottom-style: solid;
    border-width: 1px;
    margin-bottom: 4%;
}
.footer-widget .widget-title {
    text-transform: capitalize;
    color: #fbfbfb;
    margin-bottom: 30px;
}
.footer-widget .subscribe-form {
    position: relative;
    padding-bottom: 10%;
    margin: auto;
    width: 70%;
}
.footer-widget .subscribe-form input {
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    padding: 20px 35px;
    background-color: rgb(49, 49, 83);
    color: #ececec;
    margin-bottom: 15px;
}
.subscribe-form button {
    float: right;
}
.subscribe-btn {
    width: 130px;
    border: none;
    background-color: var(--second-color);
    padding: 14px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-transform: capitalize;
    color: #ffffff;
    position: absolute;
    top: 6px;
    right: 7px;
}
.footer-coptyright {
    background-color: #020040;
    padding: 2% 0;
    text-align: center;
    color: white;
    border-top: #373750;
    border-top-style: solid;
    border-width: 1px;
}
.footer-widget li, .footer-widget a, .footer-widget p, .footer-widget span, .footer-widget i {
    color: #ececec;
}
.follow {
    margin-top: 8% !important;
    font-size: 24px !important;
}
.footer-widget .fab {
    font-size: 45px !important;
    padding: 0;
    margin: 0;
    font-weight: 400;
    margin-right: 5%;
}
.footer-widget li, .footer-widget a, .footer-widget p, .footer-widget span, .footer-widget i {
    color: #ececec;
}